<nav class="navbar navbar-dark navbar-expand-sm static-top" style="background-color: rgb(111,79,252)">
  <a class="navbar-brand" routerLink="/">Stock Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-right" id="navbar-list-2">
    <ul class="navbar-nav ml-auto nav-pills">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/">Search</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/watchlist">Watchlist</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/portfolio">Portfolio</a>
      </li>
    </ul>
  </div>
</nav>
